<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/Images/favicon.png" type="image/gif" sizes="16x16">
    <title>@ViewData["Title"] The Book Cave</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- ********* Headder ******* -->
    <header>
      
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-4 text-center">
                    <div class="row">
                        <div class=" col col-sm-12">
                            <h2><a class="home-logo" asp-controller="home" asp-action="index">The Book Cave</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6 col-md-5">
                    <div class="row">
                        <div class="col col-sm-12 text-center">
                            <ul>
                                <li>
                                     <form class="search-bar" asp-action="Search" asp-controller="Book" method="GET">
                                         <div class="search-wrapper">
                                                <input type="search" autocomplete="off" name="searchedWord" placeholder="Search for a title, genre or an author..">
                                                <button type="submit" value="search"><i class="fa fa-search"></i></button>
                                            </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-3 col-md-3 header-items">
                    <div class="row">
                        <div class="col col-sm-12 text-right">
                            <ul id="header-list">
                                    <div id="cart-container">
                                    <div id="cart">
                                        <span id="itemCount"></span>
                                        <li><a class="text-nav-content" asp-controller="Account" asp-action="WishList"><i class="glyphicon glyphicon-heart wishlist"></i>Wishlist</a></li>
                                        <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i> 
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ********* Navigation bar ******* -->
    <div class="navigation-Bar">
        <nav class="navbar navbar-inverse navbar-static-top navbar-styling">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#"></a>
                </div>
                <!-- ********* Listi af öllu vinstra megin ******* -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <div class="dropdown">
                                <button class="btn navbar-btn btn-link dropdown-toggle text-nav-content" type="button" data-toggle="dropdown">
                                    <a class="text-nav-content">Filter by genre</a>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-nav-content" asp-controller="book" asp-action="SortByGenre" asp-route-genre="Adventure">Adventure</a></li>
                                    <li><a class="dropdown-item text-nav-content" asp-controller="book" asp-action="SortByGenre" asp-route-genre="Fiction">Fiction</a></li>
                                    <li><a class="dropdown-item text-nav-content" asp-controller="book" asp-action="SortByGenre" asp-route-genre="Horror">Horror</a></li>
                                    <li><a class="dropdown-item text-nav-content" asp-controller="book" asp-action="SortByGenre" asp-route-genre="Romance">Romance</a></li>
                                    <li><a class="dropdown-item text-nav-content" asp-controller="book" asp-action="SortByGenre" asp-route-genre="Novel">Novel</a></li>
                                    <li><a class="dropdown-item text-nav-content" asp-controller="book" asp-action="SortByGenre" asp-route-genre="Philosophy">Philosophy</a></li>
                                    <li><a class="dropdown-item text-nav-content" asp-controller="book" asp-action="SortByGenre" asp-route-genre="Humor">Humor</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="text-nav-content" asp-action="TopTenBooks" asp-controller="Book">Top 10 books</a></li>
                        <li><a class="text-nav-content" asp-controller="book" asp-action="Index" >All books</a></li>
                        <li><a class="text-nav-content" asp-controller="author" asp-action="Index" >Authors</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
            </nav>
            <!--/.navbar-collapse -->
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row footer-wrapper">
                <div class="col-lg-4 col-md-4 col-sm-4 text-center footer-list">
                    <ul>
                        <li><a href="/home/about">About Us</a></li>
                        <li><a href="/home/contact">Contact Us</a></li>
                        <li><a href="/home/faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  text-center footer-list">
                    <ul>
                        <li>Háskólinn í Reykjavík</li>
                        <li>Menntavegur 1</li>
                        <li>101 Reykjavík</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4  text-center footer-list">
                    <ul>
                        <li>&copy; The Book Cave</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>