<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookCave</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- *********** Headder ********* -->
    <header>
        <div class="row">
            <div class="col-lg-3  col-md-4 text-center" style="background:yellow;">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>The Book Cave</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center" style="background: green; height:63px;">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="col-sm-8" asp-action="Search" asp-controller="Book" method="GET">
                            <input type="search" name="searchedWord" placeholder="Leita eftir Titil, Tegund eða Höfund.." class="search-button">
                            <button type="submit" value="search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-2 " style="background:red;">
                <ul class="log-in">
                    <div class="row">
                        <div class="col-sm-4">
                            <li>
                                @await Html.PartialAsync("_LoginPartial")
                            </li>
                        </div>
                    </div>
                </ul>
                <ul class="wishing-cart">
                    <li><i class="glyphicon glyphicon-heart"> </i>
                        <a href="#">Wishlist</a>
                    </li>
                    <li><i class="glyphicon glyphicon-shopping-cart"></i>
                        <a href="#">Cart</a>
                    </li>
                </ul>


            </div>
        </div>
    </header>
    <!-- *********** Navigation bar ********* -->
    <div class="navigation-Bar">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>	<a class="navbar-brand" href="#"></a>
                </div>
                <!-- *********** Listi af öllu vinstra megin ********* -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav  navbar-left">
                        <li class="">
                            <div class="dropdown">
                                <button class="btn navbar-btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    Flokka eftir tegund
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Ævintýri</a></li>
                                    <li><a class="dropdown-item" href="#">Skáldsögur</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class=""><a asp-action="TopTenBooks" asp-controller="Book" class="">Topp 10 bækur</a></li>
                        <li class=""><a asp-action="Index" asp-controller="author"class="">Höfundar</a></li>
                    </ul>
                </div>
            </div>
            </nav>
            <!--/.navbar-collapse -->
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>