<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookCave</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- *********** Headder ********* -->
    <div class="header">
        <div class="head-content">
            <a asp-action="Index" asp-controller="Home"><img src="~/images/logo-sm.jpg" alt=""></a>
        </div>
    </div>
    <!-- *********** Navigation bar ********* -->
    <div class="navigation-Bar">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>	<a class="navbar-brand" href="#"></a>
                </div>
                <!-- *********** Listi af öllu vinstra megin ********* -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="">
                            <div class="dropdown">
                                <button class="btn navbar-btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
                                    Flokka eftir tegund
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Ævintýri</a></li>
                                    <li><a class="dropdown-item" href="#">Skáldsögur</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class=""><a asp-action="TopTenBooks" asp-controller="Book" class="">Topp 10 bækur</a></li>
                        <li class=""><a href="#" class="">Höfundar</a></li>
                        <li class=""><a href="#" class="">About</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial");
                    <!-- *********** Listi af öllu hægra megin *********
                    <ul class="nav navbar-nav navbar-right">
                        <li>-->
                    <!-- *********** Search takki ********* -->
                    <!--ÞARF AÐ L'ATA INN AFTUR-->
                    <!-- <div class="search-container">
                            <form action="#">
                                <input type="text" placeholder="Search.." name="search">
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </li>-->
                    <!-- *********** Sign in ********* -->
                    <!--
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Sign In<span class="caret"></span>
                        </a>
                        <div class="dropdown-menu" id="formLogin">
                            <div class="row">
                                <div class="container-fluid">
                                    <form class="">
                                        <div class="form-group">
                                            <label class="">Username</label>
                                            <input class="form-control" name="username" id="username" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label class="">Password</label>
                                            <input class="form-control" name="password" id="password" type="password">
                                            <br>
                                        </div>
                                        -->
                    <!-- *********** Register... á eftir að gera sér síður fyrir þetta ********* -->
                    <!--
                        <li><a href="#" data-toggle="modal" data-target="#modalRegister" class="">Register</a></li>
                        <button type="submit" id="btnLogin" class="btn btn-success btn-sm">Login</button>
                        </form>
                    </div>
                                    </div>
                                </div>
                            </li>
                                -->
                    <!-- *********** Register... á eftir að gera sér síður fyrir þetta ********* -->
                    <!-- <li><a href="#" data-toggle="modal" data-target="#modalRegister" class="">Register</a></li>-->
                    <!-- *********** Karfan ********* -->
                    <!--
                    <li>
                        <div class="Basket">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 7 - Items<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-cart" role="menu">
                                <li>
                                    <span class="item">
                                        <span class="item-left">
                                            <img src="http://lorempixel.com/50/50/" alt="" />
                                            <span class="item-info">
                                                <span>Item name</span>
                                                <span>23$</span>
                                            </span>
                                        </span>
                                        <span class="item-right">
                                            <button class="btn btn-xs btn-danger pull-right">x</button>
                                        </span>
                                    </span>
                                </li>

                                <li class="divider"></li>

                                <li><a class="text-center" href="">Go to checkout</a></li>
                            </ul>
                    </li>
                    -->
                    </ul>
                </div>
                </li>
                </ul>
            </div>
            <!--/.navbar-collapse -->
    </div>
    </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>