@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models

@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(c => c.Type == "Name")?.Value;
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-action="Logout" asp-controller="Account" method="POST">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <button class="btn navbar-btn btn-link dropdown-toggle text-nav-content" type="button" data-toggle="dropdown">
                        @claim
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a  asp-controller="Account" asp-action="Details" class="dropdown-item text-left text-nav-content"> Account information </a></li>
                    <li><a asp-controller="Account" asp-action="OrderHistory" class="dropdown-item text-nav-content" >Order History</a></li>
                    <button type="submit" class="btn btn-default btn-sm dropdown-item" id="logout-btn">Log out</button>
                </ul>
            </div>
        </li>
    </ul>
</form>

}
else
{
<ul class="nav navbar-nav">
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Register" class="glyphicon glyphicon-user text-nav-content" > Register </a>
    </li>
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Login" class="glyphicon glyphicon-log-in text-nav-content"> Login</a>
    </li>
</ul>
}