<div class="container text-center" style="padding-bottom: 150px;">
    <h1> Unauthorized Access</h1>
    <p>You have attempted to access a page that you are not autorized to view.</p>
    <p>Make sure you are logged in and try again</p>
    <div class="img-container">
        <img src="~/Images/bookNotFound.png" alt="missingBook" style="padding-bottom: 50px;">
    </div>
</div>