<div class="container">
    <h1 class="text-center">Your Order was successful</h1>
    <a class="btn btn-default center-block add-to-cart text-center" style="width:20%" asp-controller="Home" asp-action="Index">Back to front page</a>
</div>

