@model List<BookCave.Models.ViewModels.AuthorListViewModel>
<h1>Authors</h1>
<table class="table">
    <th>Name</th><th>Most popular book</th>
@foreach(var author in Model) {
    <tr>
      <td>
        <a asp-action="details" asp-controller="author" asp-route-id="@author.Id">@author.authorName</a> <br>
      </td>
      <td>
      </td>
    </tr>
}
</table>