<div class="container">
    <div class="row">
        <h1 class="content-styling-h text-center">Welcome to The Book Cave</h1>
        <hr />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <p>The Book Cave is a small company from Iceland.
            We are a small company but growing rapidly and soon we will the rough market of online book selling.
            The company was founded in may 2018 and are already the biggest seller of online books in Iceland.
            The team consists of five dedicated members that will go to any lengths to get you the book of your dreams!
            If there are any questions, feel free to hit us up at thebookcave@thebookcave.is and we will be delighted to answer any of your questions</p>
        </div>
    </div>
</div>