<div class="container" style="min-height: 40rem">
    <div class="row">
        <h1 class="content-styling-h text-center">Contact info</h1>
        <hr />
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <h5>Phone number: +354 123-4567</h5>
            <h5>Address: Menntavegur 1</h5>
            <h5>Email: thebookcave@thebookcave.is</h5>
            <h5>101 Reykjavík</h5>
        </div>
    </div>
</div>