<!DOCTYPE html>
<html>
    <body>
<h1>Frequently asked questions</h1>
<ul class="bullet-punktur">
    <li>How many books can I order? You can order as many books as you want!</li>
    <li>What if I can't find the book I want? Feel free to send us what book you want and we can order it for you!</li>
    <li>Do you have a store in menntavegur 1? No we don't have a public store, only our website.</li>
    <li>I didn't get my book, what happened? There might be a delay in our shipping but feel free to contact us if the wait is overdue.</li>
</ul>
</body>
</html>