<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="content-styling-h text-center">Frequently asked questions</h1>
            <hr />
        </div>
    </div>
    <ul class="bullet-punktur">
        <li><p><strong>How many books can I order?</strong> You can order as many books as you want!</p></li>
        <li><p><strong>What if I can't find the book I want?</strong> Feel free to send us what book you want and we can order it for you!</p></li>
        <li><p> <strong>Do you have a store at Menntavegur 1?</strong> No we don't have a public store, only the online store for now.</p></li>
        <li><p><strong>I didn't get my book, what happened?</strong> There might be a delay in the shipping but feel free to contact us.</p></li>
    </ul>
</div>

