@model List<BookCave.Models.ViewModels.BookListViewModel>

<div class="Container">
    <div class="row">
        @foreach(var book in Model)
        {
           <div class="col-md-3 col-lg-3">
           <div class="card">
               <img asp-controller="book" asp-action="details" asp-route-Id=@book.id class="card-img-top Thumb-nail-image" src="@book.image" alt="Book Cover">
               <div class="card-body">
                    <a asp-controller="book" asp-action="details" asp-route-Id=@book.id class="card-text">@book.title</a>  
                    <div class="d-flex justify-content-between align-items-center">
                        <medium>@book.rating  </medium> <br>
                        <medium>@book.cost $</medium> <br>
                    </div>
               </div>
            </div>
           </div>
        }
    </div>
</div>