<div class="container" style="padding-bottom:130px">
    <div class="text-center">
        <h1>We're sorry, the book seems to be <br /> missing from our archives..</h1>
        <div class="img-container">
            <img src="~/Images/bookNotFound.png" alt="missingBook">
        </div>
    </div>
</div>